<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Man Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue">


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Menu</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/man/form">New man</a></li>
            <li><a href="/woman/form">New woman</a></li>
        </ul>
    </div>
</nav>



<div class="col-xs-3">
    <table class="table">
        <tbody style="background-color:lightgoldenrodyellow;">
        <thead class="thead-dark">
        <tr><font size ="18" font ="verdana" color="green">Man</font></tr>
        <tbody class="tbody-light">
        <tr th:each="man : ${manList}">
            <th bgcolor="#F1F8E0">Man iD: </th>
            <td th:text="${man.id}"></td>
            <th bgcolor="#F1F8E0">Name: </th>
            <td th:text="${man.name}"></td>
        </tr></tbody>
    </table>
</div>


</body>
</html>